<link rel="stylesheet" href="~/css/signin.css" type="text/css" />
@model PhotoBank.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<form method="post" class="form-signin" asp-controller="Users" asp-action="ChangePassword">
    @*<img class="mb-4" src="~/img/logo1.png" alt="" width="72" height="72">*@
    <h5 class="h5 mb-3 font-weight-normal"><ya-tr-span data-index="0-0" data-value="Change Password user" data-translation="Изменение пароля для пользователя" data-type="trSpan" data-selected="false">Изменение пароля для пользователя @Model.Email</ya-tr-span></h5>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Check" />
    <label asp-for="OldPassword" class="sr-only"><ya-tr-span data-index="1-0" data-value="OldPassword" data-translation="Старый пароль " data-type="trSpan">Старый пароль </ya-tr-span></label>
    <input asp-for="OldPassword" id="OldPassword" class="form-control" placeholder="Старый пароль" required="" autofocus="">
    @*<span asp-validation-for="Email"></span>*@
    <label asp-for="NewPassword" class="sr-only"><ya-tr-span data-index="1-0" data-value="NewPassword" data-translation="Новый пароль" data-type="trSpan">Новый пароль</ya-tr-span></label>
    <input asp-for="NewPassword" id="NewPassword" class="form-control" placeholder="Новый пароль" required="" autofocus="">
    @*<span asp-validation-for="NewPassword"></span>*@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button class="btn btn-lg btn-primary btn-block mt-5 mb-3" type="submit"><ya-tr-span data-index="3-0" data-value="Save" data-translation="Сохранить" data-type="trSpan">Сохранить</ya-tr-span></button>
</form>
