<link rel="stylesheet" href="~/css/signin.css" type="text/css" />
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли свой пароль?";
}

<div class="text-center mt-5 mb-2">
    <form method="post" class="form-signin" asp-controller="Account" asp-action="ForgotPassword" asp-validation-summary="All">
        @*<img class="mb-4" src="~/img/logo1.png" alt="" width="72" height="72">*@
        <h5 class="h5 mb-3 font-weight-normal"><ya-tr-span data-index="0-0" data-value="Enter email" data-translation="Введите свой адрес электронной почты" data-type="trSpan" data-selected="false">Введите свой адрес электронной почты</ya-tr-span></h5>
        <label asp-for="Email" class="sr-only"><ya-tr-span data-index="1-0" data-value="Email address" data-translation="Адрес электронной почты " data-type="trSpan">Адрес электронной почты </ya-tr-span></label>
        <input asp-for="Email" id="Email" class="form-control" placeholder="Эл. адрес" required="" autofocus="">
        @*<span asp-validation-for="Email"></span>*@
        <div asp-validation-summary="All"></div>
        <button class="btn btn-lg btn-primary btn-block mt-5 mb-3" type="submit"><ya-tr-span data-index="3-0" data-value="Sign in" data-translation="Подтвердить" data-type="trSpan">Подтвердить</ya-tr-span></button>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}