<link rel="stylesheet" href="~/css/signin.css" type="text/css" />
@{
    ViewData["Title"] = "Фотобанк";
}

<div class="text-center mt-5 mb-2">
   <img class="mb-4" src="~/img/PhotoBank.jpg" alt="">
</div>