@*<link rel="stylesheet" href="~/css/signin.css" type="text/css" />*@
@{
    ViewData["Title"] = "Администрирование";
}
<h4>@ViewData["Title"]</h4>

<div class="text-center mt-5 mb-2">
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <a asp-controller="Users" asp-action="Index">Пользователи</a>
        <a asp-controller="Roles" asp-action="Index">Роли</a>
    }
</div>